services:
  db:
    image: postgres:16
    container_name: webshop_db
    environment:
      POSTGRES_DB_FILE: /run/secrets/db_name
      POSTGRES_USER_FILE: /run/secrets/db_user
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
      TZ: Europe/Vienna
    secrets: [db_password, db_user, db_name]
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "export PGPASSWORD=$(cat /run/secrets/db_password) && pg_isready -U $(cat /run/secrets/db_user) -d $(cat /run/secrets/db_name) -h 127.0.0.1 -p 5432"]
      interval: 10s
      timeout: 5s
      retries: 20
    restart: unless-stopped
    networks: [webshop_net]

  app:
    build: .
    container_name: webshop_app
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_MAIL_HOST: smtp.gmail.com
      SPRING_MAIL_PORT: "587"
      SPRING_MAIL_USERNAME: ${MAIL_USER}
      SPRING_MAIL_PASSWORD: ${MAIL_PASS}
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH: "true"
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE: "true"
      APP_MAIL_FROM_NAME: "Webshop"
      APP_BASE_URL: "https://viewwebshop.at"
      SPRING_CONFIG_IMPORT: optional:configtree:/run/secrets/
      SPRING_DATASOURCE_URL: jdbc:postgresql://webshop_db:5432/$${db_name}
      SPRING_DATASOURCE_USERNAME: $${db_user}
      SPRING_DATASOURCE_PASSWORD: $${db_password}

      MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: health,info
      MANAGEMENT_ENDPOINT_HEALTH_PROBES_ENABLED: "true"
      MANAGEMENT_ENDPOINT_HEALTH_SHOW_DETAILS: "never"
    secrets:
      - db_password
      - db_user
      - db_name
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://127.0.0.1:8080/actuator/health"]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 90s
    restart: unless-stopped
    networks: [webshop_net]

  caddy:
    image: caddy:2
    container_name: caddy
    depends_on:
      app:
        condition: service_healthy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddydata:/data
      - caddyconfig:/config
    restart: unless-stopped
    networks: [webshop_net]

secrets:
  db_password:
    file: ./secrets/db_password.txt
  db_user:
    file: ./secrets/db_user.txt
  db_name:
    file: ./secrets/db_name.txt

volumes:
  db_data:
  caddydata:
  caddyconfig:

networks:
  webshop_net:
    driver: bridge